
@media screen and (max-width: 1025px){
 #education .box-container .box{
  height: 340px;
 }
 #education .box-container .box p {
  font-size: 15px;
}
 .service .box-container .box h3 {
  font-size: 18px;
 }

.service .box-container .box p {
  font-size: 16px;
  padding: 25px 0px;
 }
 .service .box-container .box {
  height: 320px;
 }
}
@media screen and (max-width: 769px){
 #logo h1{
  font-size: 24px;
  margin-top: 5px;
 }
 nav ul{
  margin-top: 5px;
 }
 nav ul li:first-child{
  margin-left: 0px;
}
 nav ul li a{
  font-size: 14px;
 }
 #cover{
  height: 320px;
 }
 #cover .transparent-bg #cover-text h2{
   font-size: 24px;
 }
 #cover .transparent-bg #cover-text h3{
  font-size: 30px;
 }
 #cover .transparent-bg #cover-text a{
  font-size: 14px;
 }
 #about-me .characteristics {
  width: 450px;
  height: 350px;
}



#about-me .characteristics img {
  width: 230px;
  margin-left: 60px;
}
#about-me ul {
  margin-top: 20px;
}

#about-me ul li {
  font-size: 16px;
  margin-bottom: 10px;
}
 #education h2{
  font-size: 20px;
 }
 #education .box-container .box h3{
  font-size: 16px;
 }
 #education .box-container .box p{
  font-size: 14px;
 }
 #education .box-container .box i{
  font-size: 22px;
  height: 60px;
  width: 60px;
  top: -15px;
  left: -32px;
 }
 #projects h2{
  font-size: 24px;
 }
 #projects #holder{
  width: 100%;
 }
 #projects #holder .site {
  width: 40%;
  height: 200px;
 }
 #projects #holder .site:hover .view{
  width: 10%;
  font-size: 12px;
  margin-top: 30px;
 }
 .service .box-container .box{
  text-align: left;
 }
 .service .box-container .box h3 {
  font-size: 16px;
 }

.service .box-container .box p {
  font-size: 14px;
  padding: 25px 0px;
 }
 #contact #contactHolder{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }
 #contact #contactHolder .mapform {
  width: 100%;
 }
 
 

}

@media screen and (max-width: 426px){
 #logo{
  width: 100%;
  text-align: center;
 }
 nav{
  width: 100%;
  text-align: center;
  margin-top: -20px;
 }
 nav ul{
  justify-content: center;
 }
 nav ul li{
  margin-left: 5px;
 }
 nav ul li a{
  font-size: 13px;
 }
 #cover .transparent-bg #cover-text h2{
  font-size: 20px;
}
#cover .transparent-bg #cover-text h3{
 font-size: 26px;
}
#cover .transparent-bg #cover-text a{
 font-size: 12px;
}
 
 #cover{
  background-position: center;
  height: 300px;
 }
 #about-me .characteristics h2{
   font-size: 16px;
   margin-top: 0px;
 }
 #about-me .characteristics {
  width: 300px;
  height: 280px;
}
#about-me ul li span:first-child {
  width: 100px;
}



#about-me .characteristics img {
  width: 150px;
  margin-left: 5px;
}
#about-me ul {
  margin-top: 10px;
}

#about-me ul li {
  font-size: 14px;
  margin-bottom: 10px;
}
#education .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
#education .box-container .box{
  width: 100%;
  height: 250px;
  border-left: none;
}
#education .box-container .box h3 {
  font-size: 18px;
}
#education .box-container .box p{
  font-size: 14px;
}
 
 .skill{
  width: 100%;
 }
 .skill .skillNaslov h2 {
  font-size: 20px;
 }
 #education .box-container{
  width: 100%;
 }
 #education .box-container .box{
  width: 80%;
  margin: 2px;
 }
 #projects #holder{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
 }
 #projects #holder .site {
  width: 100%;
  margin-bottom: 30px;
 }
 #projects p{
  font-size: 12px;
 }
 .service .box-container{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .service .box-container .box{
  width: 100%;
  height: 200px;
  text-align: center;
 }
  
 #contact #contactHolder{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }
 #contact #contactHolder .mapform {
  width: 80%;
 }
 #contact h2{
  font-size: 20px;
 }
 footer{
   text-align: center;
 }
 footer p{
   font-size: 14px;
 }
 footer i {
  float: none;
  margin-top: 4px;
}
}
@media screen and (max-width: 376px){
 #logo h1{
  font-size: 14px;
 }
 nav ul li{
  margin-left: 4px;
 }
 nav ul li a{
  font-size: 10px;
 }
 .progres-bar {
  width: 80%;
 }
 #cover{
  height: 250px;
 }
 #cover .transparent-bg #cover-text h2{
  font-size: 16px;
 }
 #cover .transparent-bg #cover-text h3{
  font-size: 18px;
 }
 #cover .transparent-bg #cover-text a{
  font-size: 10px;
  padding: 5px 12px;
 }
 #about-me .characteristics {
  height: 250px;
}
#about-me ul li span:first-child {
  width: 95px;
}



#about-me .characteristics img {
  width: 150px;
  
}
#about-me ul {
  margin-top: 5px;
}

#about-me ul li {
  font-size: 12px;
}
#education .box-container .box{
  height: 200px;
}
#education .box-container .box i{
  margin-left: 10px;
  height: 60px;
  width: 60px;
  font-size: 24px;
}
#education .box-container .box span{
  font-size: 14px;
  padding: 10px 23px;
}
#education .box-container .box h3 {
  font-size: 16px;
}
#education .box-container .box p{
  font-size: 12px;
}
 .section .sectionNaslov h2 {
  font-size: 16px;
 }
 .skill p{
  font-size: 12px;
 }
 .skill .progres-bar{
  height: 10px;
 }
 .skill .progres-bar .devedesetpet, .skill .progres-bar .osamdeset, .skill .progres-bar .pedeset, .skill .progres-bar .cetrdeset, .skill .progres-bar .devedeset{
  height: 10px;
 }
 #projects h2{
  font-size: 16px;
 }
 #projects #holder .site .transparent .technology{
  font-size: 16px;
 }
 #projects #holder .site:hover .view{
  width: 10%;
  font-size: 10px;
  margin-top: 30px;

 }
 
 .service h2{
  font-size: 16px;
 }
 .service .box-container{
  width: 100%;
 }

 .service .box-container .box{
  height: 230px;
 }
 
 .service .box-container .box h3 {
  font-size: 18px;
 }
 .service .box-container .box p {
  font-size: 14px;
 }
 .service .box-container .box i{
  font-size: 16px;
 }
 #contact {
  height: 550px;
  }
 #contact h2{
  font-size: 18px;
 }
 #contact #contactHolder .mapform {
  height: 150px;
 }
 #contact #contactHolder .mapform #forma1 {
  width: 100%;
}

#contact #contactHolder .mapform #forma1 td {
  padding: 10px;
}

#contact #contactHolder .mapform #forma1 #ime, #contact #contactHolder .mapform #forma1 #prezime, #contact #contactHolder .mapform #forma1 #meil, #contact #contactHolder .mapform #forma1 textarea {
  font-size: 14px;
  padding: 5px 0px 5px 5px;
  height: 20px;
}

#contact #contactHolder .mapform #forma1 #btn {
  padding: 8px 12px;
  font-size: 12px;
  
}
footer p{
  font-size: 12px;
}
footer i{
  font-size: 14px;
}
}
@media screen and (max-width: 321px){
 nav ul{
  flex-direction: column;
 }
 #cover{
  height: 200px;
 }
 #cover .transparent-bg #cover-text h2{
  font-size: 14px;
 }
 #cover .transparent-bg #cover-text h3{
  font-size: 16px;
 }
 #cover .transparent-bg #cover-text a{
  font-size: 8px;
  padding: 4px 8px;
 }
 #about-me .characteristics {
  height: 200px;
}
#about-me ul li span:first-child {
  width: 75px;
}
#about-me .characteristics h2{
  font-size: 12px;
}



#about-me .characteristics img {
  width: 100px;
  
}
#education .box-container .box{
  height: 220px;
}
#education .box-container .box i{
  margin-left: 15px;
  height: 50px;
  width: 50px;
  font-size: 20px;
}
#education .box-container .box span{
  font-size: 12px;
  padding: 8px 18px;
}
#education .box-container .box h3 {
  font-size: 14px;
}
#education .box-container .box p{
  font-size: 12px;
}

 .section .sectionNaslov h2 {
  font-size: 14px;
 }
 .skill {
  padding: 5px 0px;
 }
 .skill p{
  font-size: 10px;
 }
 .skill .progres-bar{
  height: 10px;
 }
 .skill .progres-bar .devedesetpet, .skill .progres-bar .osamdeset, .skill .progres-bar .pedeset, .skill .progres-bar .cetrdeset, .skill .progres-bar .devedeset{
  height: 10px;
  
 }
 #projects h2{
  font-size: 14px;
 }
 #projects #holder .site .transparent .technology{
  font-size: 12px;
 }
 #projects #holder .site {
  width: 100%;
  height: 150px;
 }
 #projects #holder .site:hover .view{
  width: 10%;
  font-size: 10px;
  margin-top: 30px;
 }
 .service h2{
  font-size: 16px;
 }
 .service .box-container .box{
   height: 170px;
   margin: 6px 10px;
 }
 .service .box-container .box h3 {
  font-size: 14px;
 }
 .service .box-container .box p {
  font-size: 12px;
 }
 .service .box-container .box i{
  font-size: 16px;
 }
 #contact h2{
  font-size: 14px;
 }

  #contact #contactHolder .mapform #forma1 #ime, #contact #contactHolder .mapform #forma1 #prezime, #contact #contactHolder .mapform #forma1 #meil, #contact #contactHolder .mapform #forma1 textarea {
    font-size: 12px;
    padding: 5px 0px 5px 5px;
    height: 18px;
  }

  #contact #contactHolder .mapform #forma1 #btn {
    padding: 6px 10px;
    font-size: 10px;
    
  }
  footer i{
    font-size: 12px;
  }

}
